<% flat = data.flats[owner] %>

<div class="banner-thin" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url("<% flat.picture %>");>
 </div>

<!-- Inject flat data in template -->
<div class="row">
  <div class="col-sm-6 text-center">
    <div class="card padded-s">
      <div class="form-inline">
        <div>
          <%= image_tag flat.owner_picture, class: "img-circle avatar-mlarge" %>
          <p><%= flat.owner_name.split(" ").first %></p>
        </div>
        <h1><%= flat.description %></h1>
        <p class="text-align"><%= flat.city %></p>
      </div>


    </div>
  </div>
  <div class="col-sm-6 text-center">
    <div class="card">
      <%= image_tag flat.owner_picture, class: "img-circle avatar-mlarge" %>
      <p><%= flat.owner_name.split(" ").first %></p>
      <h1><%= flat.description %></h1>
      <p><%= flat.city %></p>
    </div>
  </div>
</div>
